<div class="map-popup">
  <div class="text-center">
    <h4 class="map-name"><i class="fa-solid fa-record-vinyl me-2"></i><%= party.title %></h4>
  </div>
  <p><i class="fa-solid fa-users me-2 mb-0"></i><strong><%= party.location %></strong></p>
  <p><i class="fa-solid fa-earth-americas me-2"></i><%= party.address %></p>
  </div>
