.home-container {
  height: 100vh;
  position: relative;
  // background-image: url("mainimg.jpeg");
  background-image: url("Abstract_moving.gif");
  // background-image: url(<%= asset_path 'mainimg.jpeg' %>);
  background-size: cover;
}
