.home-container {
  height: 100vh;
  position: relative;
  background-image: url("mainimg.jpeg");
  // TODO:
  // background-image: url("abstract_anim2.gif");
  // background-image: url(<%= asset_path 'mainimg.jpeg' %>);
  background-size: cover;
}
