<%= form_with url: parties_path, method: :get, html: { class: "mx-2 d-flex" } do |f| %>
    <%= f.text_field :query,
                     class: "search-form-input",
                     placeholder: "Location",
                     value: params[:query] %>


    <%= f.date_field :date,
                     class: "search-form-input",
                     placeholder: "",
                     value: params[:date] %>
    <button name="button" type="submit" class="btn btn-dark">
      <i class="fas fa-search"></i>
    </button>
<% end %>
