<div class="home-container">
  <div class="back-img">
    <%= render "shared/navbar" %>
    <div class="banner">
        <%= image_tag "green.png", class: "logo"%>
        <p>NEVER MISS A GOOD RAVE</p>
        <%= render "shared/search_form_home" %>
    </div>
  </div>
</div>
