<div class="home-container">
  <div class="back-img">
    <%= render "shared/navbar" %>
    <div class="banner">
      <p class="h1">RAVE MAP</p>
      <p>Never miss a good rave!</p>
        <%= render "shared/search_form_home" %>
    </div>
  </div>
</div>
