.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 100%;
  position: absolute;
  top: 315px;
  margin: 0 auto;

  h1 {
    color: white;
    font-size: 50px;
    margin-bottom: 0;
  }


  .search-form-input-date {
    width: 33%;
    margin-right: 5px;
  }
  p {
    font-size: 25px;
    color: white;
  }
}
