.simple-calendar {
  background-color: white;
  table {
    min-height: 80vh;
  }
  .today {
    background-color: #FAF3DD;
  }
}

.party {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
}

.party:hover {
  background: #1BCB7F;
  color: black;
}
.dashboard-container {
  h1 {
    color: white;
    text-align: center;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 24px;
    font-size: 35px;
  }
}
