.simple-calendar {
  background-color: white;
  table {
    min-height: 80vh;
  }
  .today {
    background-color: #FAF3DD;
  }
}

.party {
  color: black;
  padding: 8px 24px;
  border-radius: 4px;
  background: $neongreen;
  transition: background 0.3s ease;
  text-decoration: underline;
}

.party:hover {
  background: #1BCB7F;
  color: black;
}
.dashboard-container {
  h1, h2{
    color: white;
    text-align: center;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 24px;
    font-size: 35px;
  }
}
