.card-party {
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 50px 20px;
  background-color: white;
}

.card-details{
  margin-top: 15px;
}

.card-party > img {
  width: 100%;
  object-fit: cover;
  justify-content: center;
}

.card-party h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-party p {
  font-size: 12px;
  opacity: .7;
  margin: 5px auto;
}


.card-party .card-party-infos {
  padding: 16px;
}
