.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Electrolize", sans-serif;
  color: black;
  padding: 5px;

  h4 {
    font-size: large;
    font-weight: bold;
  }

  a {
    text-decoration: underline;
    color: rgb(78, 78, 215);
  }
}
