.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Electrolize", sans-serif;
  color: black;
  padding: 10px;
  box-shadow:
  -1px 2px 0px #07e764, 0px -1px 0px #07e764, 5px 3px 5px #07e764;

  h4 {
    font-size: large;
    font-weight: bold;
  }

  a {
    text-decoration: underline;
    color: black;
    text-shadow:
    1px 0px 3px #07e764, 1px 2px 0px #07e764, 4px 4px 9px #07e764;
  }
}
