.navbar-lewagon {
  justify-content: space-between;
  background: none;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 55px;
}

.navbar-nav {
  background-color: none;
}

.nav-item {
  margin-left: 70%;
  background-color: white;
  padding-left: 16px;
  text-decoration: none;
}

.nav-link {
  font-weight: bold;
}
