.navbar-lewagon {
  justify-content: space-between;
  background: white;
  height: 60px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}

.navbar-nav {
  background-color: none;
}

.nav-item {
  margin-left: 70%;
  background-color: white;
  padding-left: 11px;
}

.nav-link {
  font-weight: bold;
}
.dropdown {
  text-decoration: none;
}
