.card-show-container {
  overflow: hidden;
  background: black;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  justify-content: center;
  width: 100%;
  padding: 16px;
  color: white;

  img {
  height: 230px;
  width: 100%;
  object-fit: cover;
  }

  h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
    text-align: center;
    color: white;
    text-shadow:
    5px 3px 3px #07e764, 2px 5px 0px #07e764, 5px 3px 21px #07e764;
  }
  }

  .card-description {
    font-size: 15px;
    // opacity: .7;
    margin: 2 0 10px 0;

    .retro-button {
    font-size: 15px;
    padding: 7px 20px;
    background: #c0c0c0;
    color: black;
    border: 2px outset;
    outline: none;
    cursor: pointer;

    &:active {
      border: 2px inset;
    }
    }
  }

  .card-show-infos {
    margin-top: 10px;

    p {
    font-size: 17px;
    margin: 3px;
    }
  }

  .card-collapse {
    background-color: black;
    padding-left: 0px;
  }

  .edit {
    justify-content: space-between;
    display: flex;
    .edit2 {
      display: flex;
      color: grey;
      text-decoration: underline;
      align-items: center;
    }

    .destroy {
      margin-left: 2px;
    }
  }

  #showmap {
    color: $primary;
  }

  .comment-button {
    display: block;
    margin-bottom: 16px;
    a:hover {
      color: black;
    }
  }

  .border-radius-0 {
    border-radius: 0;
  }
